.account{
  background-color: black;
  color: white;
  padding: 20px
}
.transactions{
  background-color: $main-color;
  padding: 20px;
  border: 2px dashed rgb(60, 160, 60);
    button{
        color: white;
         
    }
  
}

h5{
    // background-: red
}